@model IndexBlogModel
@{
    ViewData["Title"] = "Index";
}
<div class="container my-3">
    <div class="row">
        <div class="col-md-3 mt-4">
            @await Component.InvokeAsync("CategoryMenu")
        </div>

        <div class="col-md-9">
            @Html.Partial("_Slider",Model.SliderBlogs)
            @Html.Partial("_BlogList", Model.IndexBlogs)
        </div>

    </div>
</div>

@*<script>
    $('#carousel').carousel({
        interval: 500
    })
</script>*@