@model Blog
@{
    ViewData["Title"] = "Details";
}

<div class="container">

    <div class="row">
        
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryMenu")
        </div>

        <div class="col-md-9">
            @Html.Partial("_BlogDetails",Model)
        </div>

    </div>

</div>

