@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <h2>Blog List</h2>
    <hr />
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <p>
                    <a href="/Admin/Category/AddorUpdate" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New</a>
                </p>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryId</td>
                                <td>@item.Name</td>
                                <td>
                                    @Html.ActionLink("Edit", "AddorUpdate", "Category", new {area = "Admin",  id = item.CategoryId }, new { @class = "btn btn-primary btn-sm" })
                                    <a href="/Admin/Category/Delete/@item.CategoryId"
                                       onclick="return confirm('Are you sure want to delete this category?')"
                                       class="btn btn-danger btn-sm" title="Delete">
                                        Delete
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    @*<a class="" btn btn-primary btn-sm" asp-controller="Blog" asp-action="Delete" asp-route="@item.Id">Delete</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Blog not found
                </div>
            }

        </div>

    </div>

</div>

