@model IEnumerable<Category>
<h1 class="lead">Categories</h1>
<div class="list-group mt-2">
    @foreach (var item in Model)
    {
        <a class="list-group-item @(ViewBag.SelectedCategory == item.CategoryId.ToString() ? "active" : "")" href="/Blog/Index/@item.CategoryId">
            @item.Name
        </a>
        @*@Html.ActionLink(item.Name, "Index", "Blog", new { id = item.CategoryId }, new { @class = "list-group-item" })*@
    }
</div> 