@model IEnumerable<Category>
<h1 class="lead">Categories</h1>
<div class="list-group mt-2">
    @foreach (var item in Model)
    {
        <a class="list-group-item @(ViewBag.SelectedCategory == item.CategoryId.ToString() ? "active" : "")" href="/Blog/Index/@item.CategoryId">
            @item.Name
        </a>
    }
</div> 